/* Container styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  padding: 10px;
  box-sizing: border-box;
}
h2 {
  text-transform: uppercase;
  color: #007bff;
  font-size: 28px;
  width: 100%;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#one {
  animation-direction: alternate-reverse;
}

@keyframes text {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 50%;
  }
}

.search-input {
  margin-top: 0px;
  padding: 5px 12px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 25px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
::placeholder {
  font-size: 18px;
}

/* Table styles */
.table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 4px;
  text-align: left;
}

.table th {
  background-color: #d5edb8;
  font-weight: bold;
  font-size: 18px;
  padding: 6px;
}

.table td {
  border-bottom: 1px solid #ccc;
}
.NoData {
  text-align: center;
  font-size: 30px;
  color: red;
  margin: 30px;
}

/* Selected row style */
.table .selected {
  background-color: #e6f3ff;
}
/* Pagination styles */
.pagination {
  margin-top: 20px;
}

.pagination button {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 30px;
  font-size: 20px;
}

.pagination button.active {
  background-color: #0980f8;
  color: white;
}

.pagination button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #b3d9ff;
}

/* Delete selected button styles */
.delete-selected-button {
  padding: 12px 16px;
  background-color: red;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 73%;

  margin-top: -35px;
}

.delete-selected-button:disabled {
  background-color: #ccc;

  cursor: not-allowed;
}

/* Button container styles */

.btn-container .button {
  /* padding: 0px 10px; */
  margin: 5px;

  background-color: #f2f2f2;
  border: none;
  border-radius: 100px;
  font-size: 25px;
  cursor: pointer;
}
.btn-container .delete {
  color: red;
}

.btn-container .button:hover {
  background-color: #b3d9ff;
}

/* Modal style */
.model {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
.model-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
}
label {
  display: block;
  margin-top: 10px;
}
.model-content input {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  padding: 8px;
  width: 80%;
}
.model-buttons {
  margin-top: 20px;
  text-align: right;
}
.model-content button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px 15px;
}
.model-content button:last-child {
  background-color: #ccc;
}
.model-content h3 {
  text-transform: uppercase;
  text-align: center;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
  .modal-content {
    padding: 20px;
    width: 90%;
  }

  .modal button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .btn-container .button {
    padding: 6px 10px;
    font-size: 8px;
    margin: 2px;
  }

  .search-input {
    margin-top: 300px;
    margin-bottom: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .search-input:focus {
    outline: none;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
