/* Table styles */
.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 4px;
    text-align: left;
  }
  
  .table th {
    background-color: #cbd2b5;
    font-weight: bold;
    font-size: 18px;
    padding: 6px;
  }
  
  .table td {
    border-bottom: 1px solid #ccc;
  }
  .NoData {
    text-align: center;
    font-size: 30px;
    color: red;
    margin: 30px;
  }
  
  /* Selected row style */
  .table .selected {
    background-color: #e6f3ff;
  }